<app-header titulo="Alert"></app-header>

<ion-content>

    <ion-button (click)="presentAlert()" expand="block">
        Alerta
    </ion-button>
    
    <ion-button (click)="presentAlertMultipleButtons()" expand="block">
        Alerta multiples opciones
    </ion-button> 
    
    <ion-button (click)="presentAlertPrompt()" expand="block">
        Alerta Prompt
    </ion-button>
    
    <ion-button (click)="presentAlertRadio()" expand="block">
        Alerta Radio
    </ion-button>
    
    <ion-button (click)="presentAlertCheckbox()" expand="block">
        Alerta Checkbox
    </ion-button>
    
</ion-content>
